/* Figma Styles of your File */
:root {
  --tekst-i-elementy-na-tyomnom-fone: #ffffff;
  --fon-temnyj-tekst: #20222a;
  --vtorostepennyj-tekst: rgba(255, 255, 255, 0.5);
  --podlozhka: #272e3b;
  --razdeliteli: #3d4554;
  --neaktivnye-elementy: #425170;
  --w-vtorostepennyj-tekst: rgba(32, 34, 42, 0.5);
  --w-razdeliteli: #e0e0e0;
  --akcentnyj: #f4c038;
  --ogon-cena: #f47523;
  --pozitivnye-indikatory: #3cbf27;
  --promezhutochnye-indikatory: #2da0e0;
  --negativnye-indikatory: #d93855;
  --redkost-arcana: #4add32;
  --redkost-neobychajno-redkie-immortal: #ffce50;
  --redkost-tajnye: #ed422b;
  --redkost-zasekrechennye-legendary: #cf309c;
  --redkost-zapreshennye-mythical: #8533ed;
  --redkost-armejskie-rare: #275ce4;
  --redkost-promyshlennye-uncommon: #6ab2f4;
  --redkost-shirpotreb-common: #b4c2d7;

  /* Fonts */
  --h1-font-family: Rubik-Bold, sans-serif;
  --h1-font-size: 48px;
  --h1-line-height: 56px;
  --h1-font-weight: 700;
  --h1-font-style: normal;
  --h2-font-family: Rubik-Medium, sans-serif;
  --h2-font-size: 32px;
  --h2-line-height: 40px;
  --h2-font-weight: 500;
  --h2-font-style: normal;
  --h3-font-family: Rubik-Medium, sans-serif;
  --h3-font-size: 24px;
  --h3-line-height: 32px;
  --h3-font-weight: 500;
  --h3-font-style: normal;
  --h4-font-family: Rubik-Medium, sans-serif;
  --h4-font-size: 18px;
  --h4-line-height: 24px;
  --h4-font-weight: 500;
  --h4-font-style: normal;
  --text-big-font-family: Rubik-Regular, sans-serif;
  --text-big-font-size: 16px;
  --text-big-line-height: 22px;
  --text-big-font-weight: 400;
  --text-big-font-style: normal;
  --text-medium-font-family: Rubik-Regular, sans-serif;
  --text-medium-font-size: 14px;
  --text-medium-line-height: 20px;
  --text-medium-font-weight: 400;
  --text-medium-font-style: normal;
  --text-small-font-family: Rubik-Regular, sans-serif;
  --text-small-font-size: 12px;
  --text-small-line-height: 16px;
  --text-small-font-weight: 400;
  --text-small-font-style: normal;
  --table-big-font-family: Rubik-Regular, sans-serif;
  --table-big-font-size: 16px;
  --table-big-line-height: 20px;
  --table-big-font-weight: 400;
  --table-big-font-style: normal;
  --table-medium-font-family: Rubik-Regular, sans-serif;
  --table-medium-font-size: 14px;
  --table-medium-line-height: 16px;
  --table-medium-font-weight: 400;
  --table-medium-font-style: normal;
  --table-small-font-family: Rubik-Regular, sans-serif;
  --table-small-font-size: 12px;
  --table-small-line-height: 14px;
  --table-small-font-weight: 400;
  --table-small-font-style: normal;
  --table-x-small-font-family: Rubik-Regular, sans-serif;
  --table-x-small-font-size: 10px;
  --table-x-small-line-height: 12px;
  --table-x-small-font-weight: 400;
  --table-x-small-font-style: normal;
  --table-medium-fat-font-family: Rubik-Medium, sans-serif;
  --table-medium-fat-font-size: 14px;
  --table-medium-fat-line-height: 16px;
  --table-medium-fat-font-weight: 500;
  --table-medium-fat-font-style: normal;
  --table-small-fat-font-family: Rubik-Medium, sans-serif;
  --table-small-fat-font-size: 12px;
  --table-small-fat-line-height: 14px;
  --table-small-fat-font-weight: 500;
  --table-small-fat-font-style: normal;
  --button-font-family: Rubik-Medium, sans-serif;
  --button-font-size: 16px;
  --button-line-height: 20px;
  --button-font-weight: 500;
  --button-font-style: normal;
}
