header {
    width: 1440px;
    height: 88px;
    background-color: #20222A;
}

.header_inner {
    display: flex;
    align-items: center;
    width: 1440px;
    height: 100%;
    margin-left: 111px;
}

.header_logo {
  display: flex;
  margin-right: 140px;
}

.logo {
  width: 44px;
  height: 40px;
  margin-right: 14px;
}

.logo_text span {
  font-size: 36px;
  font-weight: 800;  
}

.logo_text {
    font-size: 36px;
    font-weight: 200;
}

.header_menu {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.1;
}

.header_logo,
.header_menu,
.custom-select,
.header_user {
  display: flex;
  align-items: center;
}

.menu_list {
    display: flex;
    gap: 32px;
    margin-right: 454px;
    & a {
      text-decoration: none;
      color: #fff;
    }    
}

/* ВНИМАНИЕ!!!! ДАЛЕЕ СЕКЦИИ ВАЙБОКОДИНГА!!! */
 /* Общие стили для селектора */
#language-selector {
    width: 89px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    font-family: Arial, sans-serif;
    margin-right: 32px;
  }

  .selected-option {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .selected-option img {
    width: 20px;
    height: 20px;
    margin: 12px 8px 12px 12px;
    border-radius: 50%;
  }

  .options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: none;
    border-radius: 0 0 8px 8px;
    background: transparent;
    z-index: 2;
  }

  #language-selector.open .options {
    display: flex;
    flex-direction: column;
  }

  .option {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 12px;
  }

  .option img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    border-radius: 50%;
  }

  .option:hover {
    background-color: #3D4554;
  }

  /* user меню */
  .header_user {
  position: relative; /* чтобы позиционировать меню внутри */
  display: inline-block;
}

.user_menu {
  position: absolute;
  top: 100%;
  right: 0;
  background: #fff;
  border: 1px solid #3D4554;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s, transform 0.3s, visibility 0.3s;
  z-index: 2;
  min-width: 150px;
}

.header_user.show .user_menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.user_menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user_menu li {
  padding: 10px;
  cursor: pointer;
}

.user_menu li:hover {
  background-color: #f0f0f0;
}

.header_login {
    width: 97px;
    height: 40px;
    background-color: #F4C038;
    color: #20222A;
}

